{extend name="template/base" /}
{block name="css"}
<link rel="stylesheet" type="text/css" href="__CSS__/pagination.css" />
{/block}
{block name="main"}
<div class="page-container">
    <form class="form-inline" role="form" method="post" action="/admin/admin_log/index">
        <div class="text-c">
            操作时间：
            <input type="text" onfocus="selecttime(1)" id="countTimeStart" class="input-text Wdate" style="width:120px;" name="start" value="{$start ? $start : ''}" readonly>
            -
            <input type="text" onfocus="selecttime(2)" id="countTimeEnd" class="input-text Wdate" style="width:120px;" name="end" value="{$end ? $end : ''}" readonly>

            <button type="submit" class="btn btn-success radius" ><i class="Hui-iconfont">&#xe665;</i> 搜索</button>
        </div>
    </form>
    <div class="cl pd-5 bg-1 bk-gray mt-20">
        <span class="l">
            {custom:handle /}
        </span>
        <span class="r">共有数据：<strong>{$count ? $count : 0}</strong> 条</span>
    </div>
    <table class="table table-border table-bordered table-bg table-hover table-sort">
        <thead>
        <tr>
            <th scope="col" colspan="4">操作日志</th>
        </tr>
        <tr class="text-c">
            <th width="60">操作人</th>
            <th width="100">方法</th>
            <th width="200">数据</th>
            <th width="80">操作时间</th>
        </tr>
        </thead>
        <tbody>
        {volist name="list" id="vo"}
        <tr class="text-c">
            <td>{$vo.items.realname}</td>
            <td>{$vo.url}</td>
            <td>{$vo.data}</td>
            <td>{$vo.create_time}</td>
        </tr>
        {/volist}
        </tbody>
    </table>
    <div class="pagination">{$page}</div>
</div>
{/block}
{block name="js"}
<script type="text/javascript" src="__JS__/app.js" ></script>
<script type="text/javascript" src="__LIB__/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="__LIB__/datatables/1.10.0/jquery.dataTables.min.js"></script>
<script type="text/javascript">
    /*添加*/
    function layer_open(title,url){
        layer_show(title,url,1200,800);
    }

    function selecttime(flag){
        if(flag==1){
            var endTime = $("#countTimeEnd").val();
            if(endTime != ""){
                WdatePicker({dateFmt:'yyyy-MM-dd',maxDate:endTime})}else{
                WdatePicker({dateFmt:'yyyy-MM-dd'})}
        }else{
            var startTime = $("#countTimeStart").val();
            if(startTime != ""){
                WdatePicker({dateFmt:'yyyy-MM-dd',minDate:startTime})}else{
                WdatePicker({dateFmt:'yyyy-MM-dd'})}
        }
    }
</script>
{/block}