<!DOCTYPE HTML>
<html>
<head>
    {include file="template/head" /}
</head>
<body>
<article class="page-container">
    <form action="" method="post" class="form form-horizontal" id="form-add">
        <input type="hidden" name="id" value="{$info.id ? $info.id : ''}">
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>用户名：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text"  value="{$info.account? $info.account :''}" placeholder="" required id="account" name="account" >
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>密码：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="password" class="input-text" value="" placeholder="密码不修改请放空" id="password" name="password">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>姓名：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="{$info.realname ? $info.realname :''}" placeholder="" id="realname" name="realname" >
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3">手机：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="{$info.mobile ? $info.mobile :''}" placeholder="" id="mobile" name="mobile">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3">邮箱：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="{$info.email ? $info.email :''}" placeholder="@" name="email" id="email">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3">角色：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <span class="select-box inline">
				<select class="select" id="" name="role_id">
					<option value="">请选择</option>
                    {if condition="isset($roles)"}
                    {volist name='roles' id='vo'}
                    {if condition="isset($info) && $vo.id==$info.role_id"}
                    <option value="{$vo.id}"  selected>{$vo.name}</option>
                    {else /}
                    <option value="{$vo.id}" >{$vo.name}</option>
                    {/if}
                    {/volist}
                    {/if}
				</select>
                </span>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3">状态：</label>
            <div class="formControls col-xs-8 col-sm-9 skin-minimal">
                <div class="radio-box">
                    <input name="status" type="radio" value="1" id="status-1" <?php echo isset($info['status'])&&$info['status']==1 || empty($info)?" checked":""; ?> >
                    <label for="status-1">启用</label>
                </div>
                <div class="radio-box">
                    <input type="radio" id="status-2" value="0" name="status" <?php echo isset($info['status'])&&$info['status']===0?" checked":""; ?>>
                    <label for="status-2">禁用</label>
                </div>
            </div>
        </div>
        <div class="row cl">
            <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
                <button type="submit" class="btn btn-success radius" id="admin-role-save" ><i class="icon-ok"></i> 确定</button>
            </div>
        </div>
    </form>
</article>

<!--_footer 作为公共模版分离出去-->
{include file="template/footer"}
<!--/_footer 作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->
{include file="template/validation" /}
<script type="text/javascript" src="__JS__/app_add.js"></script>
<script type="text/javascript">
    add('{if condition="!empty($info)"}/admin/admins/edit{else/}/admin/admins/add{/if}')
</script>
<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>