{extend name="template/base" /}
{block name="css"}
<link rel="stylesheet" type="text/css" href="__CSS__/pagination.css" />
{/block}
{block name="main"}
<div class="page-container">
    <div class="text-c"> 日期范围：
        <input type="text" onfocus="" id="datemin" class="input-text Wdate" style="width:120px;">
        -
        <input type="text" onfocus="" id="datemax" class="input-text Wdate" style="width:120px;">
        <input type="text" class="input-text" style="width:250px" placeholder="输入会员名称、电话、邮箱" id="1" name="">
        <button type="submit" class="btn btn-success radius" id="2" name=""><i class="Hui-iconfont">&#xe665;</i> 搜用户</button>
    </div>
    <div class="cl pd-5 bg-1 bk-gray mt-20">
        <span class="l">
            {custom:handle /}
        </span>
        <span class="r">共有数据：<strong>{$count ? $count : ''}</strong> 条</span>
    </div>
    <table class="table table-border table-bordered table-hover table-bg">
        <thead>
        <tr>
            <th scope="col" colspan="6">管理员管理</th>
        </tr>
        <tr class="text-c">
            <th width="25"><input type="checkbox" value="" name=""></th>
            <th width="40">ID</th>
            <th width="200">角色名</th>
            <th width="300">描述</th>
            <th width="70">操作</th>
        </tr>
        </thead>
        <tbody>
        {volist name="list" id="vo"}
        <tr class="text-c">
            <td><input type="checkbox" value="{$vo.id}" name="id[]"></td>
            <td>{$vo.id}</td>
            <td>{$vo.account}</td>
            <td>{$vo.remark|mb_substr=0,10,'utf-8'}</td>
            <td class="f-14">
                {custom:handle menu='edit,del' url='edit:id=$vo.id,delete:id=$vo.id' /}
            </td>
        </tr>
        {/volist}
        </tbody>
    </table>
    <div class="pagination">{$page}</div>
</div>
{/block}
{block name="js"}
<script type="text/javascript" src="__JS__/app.js" ></script>
<script type="text/javascript">
    /*添加*/
    function layer_open(title,url,w){
        layer_show(title,url,w,600);
    }

</script>
{/block}