{extend name="template/base" /}
{block name="css"}
<link rel="stylesheet" type="text/css" href="__CSS__/pagination.css" />
{/block}
{block name="main"}
<div class="page-container">
    <form class="form-inline" role="form" method="post" action="/admin/channel/index">
        <div class="text-c">
            渠道编号：<input type="text" class="input-text" name="channel" value="{$channel ? $channel : ''}" style="width:200px" >
            渠道名称：<input type="text" class="input-text" name="name" value="{$name ? $name : ''}" style="width:200px" >
            是否推广: <span class="select-box inline">
				<select class="select" id="" name="spread">
					<option value="">全部</option>
					<option value="1"  <?php echo isset($spread)&&$spread==1?" selected":""; ?>>是</option>
                    <option value="0"  <?php echo isset($spread)&&$spread==0?" selected":""; ?>>否</option>
				</select>
                </span>
            <button type="submit" class="btn btn-success radius" ><i class="Hui-iconfont">&#xe665;</i> 搜索</button>
        </div>
    </form>
    <div class="cl pd-5 bg-1 bk-gray mt-20">
        <span class="l">
        {custom:handle menu='add,evaluate' /}
        </span>
        <span class="r">共有数据：<strong>{$count ? $count : 0}</strong> 条</span>
    </div>
    <table class="table table-border table-bordered table-bg table-hover table-sort">
        <thead>
        <tr>
            <th scope="col" colspan="9">渠道列表</th>
        </tr>
        <tr class="text-c">
            <th width="25"><input type="checkbox" value="" name=""></th>
            <th width="100">渠道编号</th>
            <th width="100">渠道名称</th>
            <th width="70">新版ID</th>
            <th width="70">强升ID</th>
            <th width="70">升级间隔</th>
            <th width="230">下载地址</th>
            <th width="80">是否推广</th>
            <th width="80">操作</th>
        </tr>
        </thead>
        <tbody>
        {volist name="list" id="vo"}
        <tr class="text-c">
            <td><input type="checkbox" value="{$vo.id}" name="id[]" class="uniform"></td>
            <td>{$vo.channel}</td>
            <td>{$vo.name}</td>
            <td>{$vo.new_code}</td>
            <td>{$vo.force_code}</td>
            <td>{$vo.duration}</td>
            <td>{$vo.url}</td>
            <td>{if condition="$vo.spread==1"}<span class="label label-success radius">是</span>{else /}<span class="label label-warning radius">否</span>{/if}</td>
            <td class="f-14">
                {custom:handle menu='edit,del' url='edit:id=$vo.id,delete:id=$vo.id' /}
            </td>
        </tr>
        {/volist}
        </tbody>
    </table>
    <div class="pagination">{$page}</div>
</div>
{/block}
{block name="js"}
<script type="text/javascript" src="__JS__/app.js" ></script>
<script type="text/javascript" src="__LIB__/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="__LIB__/datatables/1.10.0/jquery.dataTables.min.js"></script>
<script type="text/javascript">
    /*添加*/
    function layer_open(title,url,w){
        layer_show(title,url,w,600);
    }

    function assignment(){
        var valArr = [];
        $(".table-sort>tbody .uniform").each(function(i){
            if($(this).is(':checked')){
                valArr[i] = $(this).val();
            }
        });
        if(valArr.length<1){
            layer.msg('请勾选数据',{icon: 2});
            return false;
        }
        var ids = valArr.join(',');
        //b.preventDefault();

        layer.confirm('确定更新版本？', {
            btn: ['确定','取消'] //按钮
        }, function(){
            $.ajax({
                type: "GET",
                url: '/admin/channel/evaluate?id=' + ids,
                success: function (data) {
                    if (data.code == 1){
                        layer.msg(data.msg, {icon: 1});
                        window.location.reload();
                    }else {
                        layer.msg(data.msg, {icon: 2});
                    }
                }
            });
        }, function(){
            layer.close();
        });
    }
</script>
{/block}