<aside class="Hui-aside">
    <div class="menu_dropdown bk_2">
        {volist name="menu_list" id="r" key="k"}
        <dl id="menu-{$k}">
            <dt><i class="Hui-iconfont {$r.icon}"></i> {$r.name}<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul class="menu_list">
                    {volist name="r.submenu" id="rr" key="kk"}
                    <li><a href="{$rr.url}" data-href="{$rr.url}" data-title="{$rr.name}" >{$rr.name}</a></li>
                    {/volist}
                </ul>
            </dd>
        </dl>
        {/volist}
    </div>
</aside>