<!DOCTYPE HTML>
<html>
<head>
    {include file="template/head" /}
    <link href="__HUI-ADMIN__/css/H-ui.login.css" rel="stylesheet" type="text/css" />
</head>
<script>
    function freshVerify() {
        document.getElementById('verifyImg').src='/admin/login/verify?' + Math.random();
    }
</script>
<body>
<input type="hidden" id="TenantId" name="TenantId" value="" />
<div class="loginWraper">
    <div id="loginform" class="loginBox">
        <form class="form form-horizontal" action="" id=form-user-login method="post">
            <div class="row cl">
                <label class="form-label col-xs-3"><i class="Hui-iconfont">&#xe60d;</i></label>
                <div class="formControls col-xs-8">
                    <input id="1" name="account" type="text" placeholder="账户" required class="input-text size-L">
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-3"><i class="Hui-iconfont">&#xe60e;</i></label>
                <div class="formControls col-xs-8">
                    <input id="3" name="password" type="password" placeholder="密码" required class="input-text size-L">
                </div>
            </div>
            <div class="row cl">
                <div class="formControls col-xs-8 col-xs-offset-3">
                    <input class="input-text size-L" id="verify" type="text" placeholder="请输入验证码" name="verify" required  style="width:175px;">
                    <img src="/admin/login/verify" style="width: 180px;height: 42px" class="verify" id="verifyImg" onClick='freshVerify()'/>
                </div>
            </div>
            <!--<div class="row cl">
                <div class="formControls col-xs-8 col-xs-offset-3">
                    <label for="online">
                        <input type="checkbox" name="online" id="online" value="">
                        使我保持登录状态</label>
                </div>
            </div>-->
            <div class="row cl">
                <div class="formControls col-xs-8 col-xs-offset-3">
                    <input name="" type="submit" class="btn btn-success radius size-L" value="&nbsp;登&nbsp;&nbsp;&nbsp;&nbsp;录&nbsp;">
                    <input name="" type="reset" class="btn btn-default radius size-L" value="&nbsp;取&nbsp;&nbsp;&nbsp;&nbsp;消&nbsp;">
                </div>
            </div>
        </form>
    </div>
</div>
<div class="footer">Copyright 你的公司名称 by H-ui.admin v3.1</div>
{include file="template/footer" /}
{include file="template/validation" /}
<script type="text/javascript">
    $(function(){
        $("#form-user-login").validate({
            submitHandler:function(form){
                $(form).ajaxSubmit({
                    type: 'post', // 提交方式 get/post
                    url: '/admin/login/checkLogin', // 需要提交的 url
                    success: function(data) { // data 保存提交后返回的数据，一般为 json 数据
                        if(data.code!=1){
                            layer.msg(data.msg,{icon:2,time:1000});
                            document.getElementById('verifyImg').src='/admin/login/verify?' + Math.random();
                            return false;
                        }
                        layer.msg(data.msg,{icon:1,time:1000});
                        setTimeout(function(){
                            window.location.href=data.url;
                        }, 1000);
                    }

                });
            }
        });
    });
</script>
</body>
</html>